
body
{
	background-color: skyblue
}	
h1,h2,h3
{
	color: goldenrod;
}
p,th,td
{
	font-family: Arial, Helvetica, sans-serif;
}
.centerAndFont
{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
a:link
{
	text-decoration: none;
}
a:visited
{
	text-decoration: none;
}
a:hover
{
    color: firebrick;               
}
a:active
{
	text-decoration: none;
}
.funFont
{
    font-family: 'Arima Madurai', cursive;
    color: whitesmoke;
}
 