body
	{
	background-color: skyblue
	}	
h1,h2,h3
	{
	color: goldenrod;
	}
p,th,td
	{
	font-family: Arial, Helvetica, sans-serif;
	}
.centerAndFont
	{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	}
a:hover
	{
    color: firebrick;               
	}

 